<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="Logs\internal-nlog.txt"
      >

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="Database" name="exlog" >
      <connectionString>Data Source=192.168.84.124;Initial Catalog=OcelotAdmin;User ID=sa;Password=123@abcd;MultipleActiveResultSets=true</connectionString>
      <commandText>
        insert into dbo.Logs (
        Logger, Logged, Level, Url, Message,
        UserIdentity, RequestMethod, Header, RequestQueryString, CallSite, Exception
        ) values (
        @Logger, @Logged, @Level, @Url, @Message,
        @UserIdentity, @RequestMethod, @Header, @RequestQueryString, @CallSite, @Exception
        );
      </commandText>

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@url" layout="${aspnet-request-url}" />
      <parameter name="@message" layout="${message}" />

      <parameter name="@userIdentity" layout="${aspnet-user-identity}" />
      <parameter name="@requestMethod" layout="${aspnet-request-method}" />
      <parameter name="@header" layout="${aspnet-request:header=Content-Type}" />
      <parameter name="@requestQueryString" layout="${aspnet-request-querystring}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
    <target xsi:type="Database" name="adminlog" >
      <connectionString>Data Source=192.168.84.124;Initial Catalog=OcelotAdmin;User ID=sa;Password=123@abcd;MultipleActiveResultSets=true</connectionString>
      <commandText>
        insert into dbo.Logs (
        Logger, Logged, Level, Url, Message,
        UserIdentity, RequestMethod, Header
        ) values (
        @Logger, @Logged, @Level, @Url, @Message,
        @UserIdentity, @RequestMethod, @Header
        );
      </commandText>

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@url" layout="${aspnet-request-url}" />
      <parameter name="@message" layout="${message}" />

      <parameter name="@userIdentity" layout="${aspnet-user-identity}" />
      <parameter name="@requestMethod" layout="${aspnet-request-method}" />
      <parameter name="@header" layout="${aspnet-request:header=Content-Type}" />
    </target>
  </targets>

  <rules>
    <logger name="ApiGatewayManager.*" minlevel="Warn" writeTo="exlog" />
    <logger name="apigatewayadmin" minlevel="Info" writeTo="adminlog" />
  </rules>
</nlog>